html
  head
    title Highland Home
  body
    h1 Highland Home
    p.
      Welcome to Highland Home. This web site is a test bed for home automation projects;
      currently <a href="https://github.com/mlsteele/xmas-lights">Christmas Lights</a>.
