html
  head
    title Privacy Policy
  body
    h1 Privacy Policy

    p.
      This site does not store any visitor information.
      It does not use third party behavioral tracking.
      It does not use cookies.
      It does not include or offer third party products or services.
      It does not collect payment information.
      It does not share information with outside parties.
      It protects the security of your information during transmission by using Secure Sockets Layer (SSL).
